* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* spacing */
  --spacing-xs: 0.5rem;

  /* input search */
  --search-height: 3rem;
  --search-radius: 25px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 50%;
}

.search {
  display: flex;
  height: var(--search-height);
}

.search form {
  flex: 1;
  display: flex;
  gap: var(--spacing-xs);
}

.search input {
  flex: 1;
  border-radius: var(--search-radius);
  padding: var(--spacing-xs);
  border: 1px solid black;
}

.search input:focus {
  outline: none;
  border: 1px solid blue;
}

.search button {
  border-radius: var(--search-radius);
  padding: var(--spacing-xs);
  transition: transform 0.4s ease;
}

.search button:hover {
  transform: scale(1.1);
}